*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 100px;
    /* background-color: red; */
    overflow: hidden;
}
h1 span {
    display: inline-block;
}